.mobile-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #212020;
    color: #333333;
}

.mobile-header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #dee2e6;
}